@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #eeeeee;
}

.main-layout {
  width: 100vw;
  height: 100vh;
}

.h-47rem {
  height: 47rem;
}

.h-45rem {
  height: 45rem;
}

.p-4 {
  padding: 1rem;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray-200 {
  background-color: #E5E7EB;
}

.appearance-none {
  appearance: none;
}

.leading-tight {
  line-height: 1.25;
}

input:focus {
  outline: none;
  background-color: white;
  border-color: #8B5CF6;
}

.border-2 {
  border-width: 2px;
}

.mt-4{
  margin-top: 1rem;
}

.justify-end {
  justify-content: flex-end;
}

/* body {
  width: 100%;
  height: 100%;
} */